  <head>
    <title>IU Webmaster redirect</title>
    <META http-equiv="refresh" content="1;URL=http://localhost:3000/solr_mappings">
  </head>
  <body bgcolor="#ffffff">
    <center>You will be redirected to the new location automatically in 1 seconds.
    </center>
  </body>
