<h1>New tag</h1>
<section>
    <%= render 'form' %>
</section>
<p></p>

<aside class="span4">
    <section margin-left:100px>
        <%= render 'solr_mappings/form' %>
    </section>
    <%= link_to 'Back', tags_path %>
</aside>
