<script type="text/javascript">
    window.location.href="/tags/"  // put your correct path in a string here
</script>

<h3>New solr_mapping</h3>

<%= render 'form' %>

<%= link_to 'Back', solr_mappings_path %>
